<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/p" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="mail" placeholder="mail">
      <input type="text" name="pic" placeholder="pic">
      <input type="submit">
    </form>
  </body>
</html>
